@tailwind base;
@tailwind components;
@tailwind utilities;

.HeroBackground {
  background-image: url("../../public/images/HeroLeftBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
